.registerasimmo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 20rem;
  max-width: 50rem;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 1%;
  outline: 2px solid var(--accent);

  a {
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--accent);
    box-shadow: 2px 2px var(--primary);
    color: var(--bg);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    gap: 0.5rem;

    &:hover {
      box-shadow: -2px -2px var(--primary);
    }
  }
}