.mapboxgl-popup-content {
  background-color: var(--transparent);
  backdrop-filter: blur(0.2rem);
  z-index: -1;
  border: 0.15rem solid var(--dark-blue);
  border-radius: 1rem;
  aspect-ratio: 2/1;
  width: 10rem;
  left: 50%;
  padding-bottom: 0.3rem;
  position: relative;

  > div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
    font-size: 150%;
    font-weight: 800;
    color: var(--dark-blue);

    span {
      font-weight: 200;
      font-style: italic;
      color: var(--black);
    }
  }

  p {
    margin: 0;
    color: var(--black);
    opacity: 0.8;
  }

  .popup-actions {
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      height: 100%;
      cursor: pointer;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--dark-blue);
      border: none;
      color: var(--white);
    }

    a {
      background-color: var(--green);
      text-decoration: none;
      color: var(--white);
      text-transform: uppercase;
      font-weight: 800;
      padding: 0.2rem 0.5rem;
      border-radius: 5rem;
      font-size: 80%;

      i {
        margin-left: 0.2rem;
        scale: 1;
      }
    }
  }
}

.mapboxgl-marker {
  z-index: 1;
}

.mapboxgl-popup-tip {
  display: none;
}
